*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #ffffff;
}

.block-to-none{
    display: block;
}

.none-to-block{
    display: none;
}


/* FLEX */

.flex{
    display: flex;
}

.justify-content-space-between{
    justify-content: space-between;
}

.justify-content-center{
    justify-content: center;
}

.align-items-center{
    align-items: center;
}

.gap-3{
    gap: 3px;
}

.gap-10{
    gap: 10px;
}

.column-to-row{
    flex-direction: column;
}


/* TEXT */

.txt-grey{
    color: #a3a3a3;
}


/* SPACE */

.padding-5{
    padding: 5px;
}


/* HOVER GENERAL */

.hover-green-section:hover .hover-green{
    background-color: #adff2f;
}

.hover-white:hover{
    color: #ffffff;
}

.hover-underline:hover{
    text-decoration: underline;
}

.hover-ratio-10:hover{
    transform: scale(1.10);
}