/* --- S --- */

@media screen and (min-width: 576px) {

    /* COMMON */

    .none-to-block{
        display: block;
    }

    .block-to-none{
        display: none;
    }

    
    /* ASIDE */

    aside{
        width: 150px;
    }

    .sidebar{
        padding: 10px;
    }

    .small-logo a{
        width: 75%;
    }

    .small-icon a{
        width: 17%;
    }

    .small-icon:hover .hover-icon-sidebar{
        filter: contrast(100%);  
    }

    .hr-sidebar{
        margin: 10px 0;
    }
    
    .playlist{
        display: flex;
        flex-direction: column;
    }
    
    .playlist-title-sidebar span{
        font-size: 14px;
    }
    
    .playlist-title-sidebar{
        padding: 15px 0 5px;
    }
    
    .small-icon .fa-square-plus{
        font-size: 30px;
    }
    
    .new-playlist ul{
        text-decoration: none;
    }
    
    .new-playlist ul li{
        padding: 5px 0;
        color: #a3a3a3;
        cursor: pointer;
    }
    


    /* MAIN CONTAINER */

    .main-container{
        width: calc(100vw - 150px);
    }


    /* 1 - HEADER */

    .header-section{
        width: calc(100vw - 150px);
    }


    /* 2 - MAIN */

    .main-menu div{
        width: calc(100% / 3);
    }


    /* FOOTER */

    .cover-footer{
        max-width: 25%;
    }
    
    .cover-footer img{
        width: 100%;
    }

    .song-name{
        flex-direction: row;    
    }
}


/* --- M --- */

@media screen and (min-width: 768px) {

    /* COMMON */

    .column-to-row{
        flex-direction: row;
    }
    
    .block-to-none{
        display: none;
    }


    /* 2 - MAIN */

    .main-menu div{
        width: 20%;
    }

    .card{
        width: 25%;
    }

}



/* --- L --- */

@media screen and (min-width: 992px) {

    /* 2 - MAIN */

    .main-menu div{
        width: 12%;
    }

    .card{
        width: calc(100% / 6);
    }
    
}

