/* ----
WRAPPER
------ */

.wrapper{
    width: 100vw;
    height: calc(100vh - 80px);
}


/* --
ASIDE 
--- */

aside{
    width: 30px;
    height: 100%;
    background-color: #000000;
}


/* -----------
MAIN CONTAINER
------------ */

.main-container{
    width: calc(100vw - 30px);
    height: 100%;
    background-color: #141922;
}


/* 1 - HEADER */

header{
    width: 100%;
    height: 70px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
}


/* 2 - MAIN */

main{
    width: 100%;
    height: 100%;
    overflow-y: auto;
}


/* ----------
FOOTER PLAYER 
------------ */

footer{
    height: 80px;
    width: 100vw;
    background-color: #282828;
    padding: 10px;
}

.left-footer, .right-footer{
    width: 200px;
    height: 100%;
}

.central-footer{
    width: 400px;
    height: 100%;
    flex-direction: column;
}

.info-song{
    flex-direction: column;
}

.cover-footer{
    display: none;
}

.song-name{
    flex-direction: column;
}

.player ul{
    list-style-type: none;
    gap: 35px;
}

.player ul .big-btn-player{
    font-size: 25px;
}

.time-bar{
    width: 100%;
}

.time-track-bar{
    font-size: 12px;
    padding: 0 25px;
}

.track-bar{
    height: 5px;
    width: 80%;
    border-radius: 20px;
    background-color: #545454;
    cursor: pointer;
}

.track-bar-actual{
    height: 100%;
    width: 20%;
    border-radius: 20px;
    background-color: #adadad;
    position: relative;
}

.right-footer{
    justify-content: end;
}

.cursor-circle{
    display: none;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #ffffff
    ;
}


/* -------------- HOVER --------------- */

/* FOOTER */

.track-bar:hover .cursor-circle{
    display: block;
    position: absolute;
    right: -2px;
    top: -4px; 
}